<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>DansMaRue Suivi d'une anomalie</title>
  		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <base href="${base_url}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="DansMaRue Suivi d'une anomalie" />
		<meta property="og:title" content="DansMaRue Suivi d'une anomalie"/>
		<meta property="og:image" content=""/>
		<meta property="og:description" content="DansMaRue Suivi d'une anomalie"/>
		<meta property="og:type" content="non_profit"/>
		<meta property="og:site_name" content="DansMaRue Suivi d'une anomalie"/>		
		
        ${document_meta?default("<!-- no document_meta -->")}
        
		<link href="https://guichet.paris.fr/v2/assets/css/banner-moncompte.css" rel="stylesheet">
        <link rel="stylesheet" href="js/jquery/plugins/treeview/jquery.treeview.css" type="text/css" media="screen, projection" />
<!--         <link rel="stylesheet" href="js/jquery/plugins/ui/css/jquery-ui.css" type="text/css" media="screen, projection" /> -->
        <link rel="stylesheet" href="js/jquery/plugins/autocomplete/jquery.autocomplete.css" type="text/css" media="screen, projection" />
        ${plugins_css_links}
        <!--<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />-->
        <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
       <!-- <link rel="stylesheet" href="css/commons.css" type="text/css" media="screen, projection" />-->
       <!-- <link rel="stylesheet"  href="css/page_template_styles.css" type="text/css"  media="screen" />-->
        <link rel="shortcut icon" href="favicon.ico" />
        
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/admin/bootstrap-datepicker.min.css" rel="stylesheet"/>
        <link href="css/commons.css" rel="stylesheet"/>
        <link href="css/ramen.css" rel="stylesheet"/>  
		<link href="css/dansmarue.css" rel="stylesheet"/>
		<!--<link href="css/sira.css" rel="stylesheet"/>-->
        <script src="js/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="js/jquery/plugins/treeview/jquery.cookie.js" type="text/javascript"></script>
        <script src="js/jquery/plugins/treeview/jquery.treeview.pack.js" type="text/javascript"></script>
<!--         <script src="js/jquery/plugins/ui/jquery-ui.js" type="text/javascript"></script>
        <script src="js/jquery/plugins/ui/datepicker-fr.js" type="text/javascript"></script> -->
        ${plugins_javascript_links}
    </head>
    <body>
		${page_header}
		<!-- banner-mon-compte begin -->	
		<div class="col-md-offset-10 col-lg-offset-10">
		  <div class="mon-compte banner-mon-compte__connexion-wrapper">
		    <a class="banner-mon-compte__connexion-avatar" href="">
		      <span class="banner-mon-compte__my-account"></span>
		    </a>
		  </div>
		</div>
		<!-- banner-mon-compte end -->

		${page_content}
		${page_footer}
	
        <!-- Piwik include -->
		${piwik!}
		
		
    </body>
</html>
