<section class="footer">
	<div class="container">
			<ul class="site-links">
				<li>
					<a target="_blank" href="#dskey{sitelabels.site_property.footer.paris.url}"><img src="images/mairie_de_paris_logo.gif" alt="Logo de la mairie de Paris"/></a>
				</li>
				<#if dskey('sitelabels.site_property.footer.paris.url')?has_content>
				<li>
					<a class="lien-paris" href="#dskey{sitelabels.site_property.footer.paris.url}" target="_blank" title="#dskey{sitelabels.site_property.footer.paris}">Paris.fr</a>
				</li>
				</#if>
				<#if dskey('sitelabels.site_property.footer.mentions.legales.url')?has_content>
				<li>
					<a href="#dskey{sitelabels.site_property.footer.mentions.legales.url}" target="_blank" title="#dskey{sitelabels.site_property.footer.mentions.legales}">Mentions L&&eacute;gales</a>
				</li>
				</#if>
				<#if dskey('sitelabels.site_property.footer.contact.url')?has_content>
				<li>
					<a href="#dskey{sitelabels.site_property.footer.contact.url}" target="_blank" title="#dskey{sitelabels.site_property.footer.contact}">Contact</a>
				</li>
				</#if>
			</ul>
		</div>
</section>